<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.system.dal.mysql.warehouse.WarehouseMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->
    <resultMap id="warehouseMap" type="cn.iocoder.yudao.module.system.dal.dataobject.warehouse.WarehouseDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="address" property="address" />
        <result column="user_id" property="userId" />
        <result column="user_nickname" property="userNickname" />
        <result column="max_inventory" property="maxInventory" />
        <result column="remarks" property="remarks" />
        <result column="status" property="status" />
        <result column="inventory" property="inventory" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="selectWarehousePage" resultMap="warehouseMap">
        select
        sw.id,
        sw.name,
        sw.type,
        sw.address,
        sw.user_id,
        su.nickname as user_nickname,
        sw.max_inventory,
        sw.remarks,
        sw.status,
        (select
        sum(CASE WHEN so.type = 1 THEN soi.quantity ELSE -soi.quantity END)
        from system_order so
        left join system_order_item as soi on so.id = soi.order_id
        where so.warehouse_id = sw.id
        ) as inventory,
        sw.create_time
        from system_warehouse as sw
        left join system_users as su on sw.user_id = su.id
        WHERE sw.deleted = 0
        <if test="req.name != null">
            AND sw.name like concat('%', #{req.name}, '%')
        </if>
        <if test="req.type != null">
            AND sw.type = #{req.type}
        </if>
        <if test="req.userId != null">
            AND sw.user_id = #{req.userId}
        </if>
        <if test="req.status != null">
            AND sw.status = #{req.status}
        </if>
        <if test="req.createTime != null">
            <if test="req.createTime.length == 2 and req.createTime[0] != null and req.createTime[1] != null">
                AND sw.create_time BETWEEN #{req.createTime[0]} AND #{req.createTime[1]}
            </if>
            <if test="req.createTime.length == 1 and req.createTime[0] != null">
                AND sw.create_time &gt;= #{req.createTime[0]}
            </if>
            <if test="req.createTime.length == 1 and req.createTime[1] != null">
                AND sw.create_time &lt;= #{req.createTime[1]}
            </if>
        </if>
    </select>

</mapper>